@CHARSET "UTF-8";

/* wooram */
.headshot {
	float:left;
	height:50px;
	width:50px;
	margin-right:10px;
	background-size:cover;
	background-position:center center;
	background:#ddd;
	-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 0 2px rgba(0, 0, 0, 0.6)
}
.name {
	width:195px;
	padding-top:0;
	font-size:22px;
	font-weight:bold
}
.name span {
	display:block;
	font-size:14px;
	font-weight:normal;
	color:#666
}

/*Main Button Custom*/
/* #buttonSearch { */
/* 	background:url(../images/bg_intro_001.png) no-repeat; */
/* 	-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0; */
/* } */
/* #buttonSearch:active { */
/* 	background:url(../images/bg_intro_001_on.png) no-repeat; */
/* } */
/* #buttonCommunity { */
/* 	background:url(../images/bg_intro_002.png) no-repeat; */
/* 	-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0; */
/* } */
/* #buttonCommunity:active { */
/* 	background:url(../images/bg_intro_002_on.png) no-repeat; */
/* } */
/* #buttonfave { */
/* 	background:url(../images/btn_mypage.png) no-repeat 5px 5px, #25313b; */
/* 	-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0; */
/* } */


/* Button Custom  */
.btnAction {
	display: block;
	background: url('../images/btnAction.png');
	/* background-repeat:repeat-x;
	background-repeat:repeat-y; */
	width: 132px;
	height: 32px;
}

.btnAction:active {
	background: url('../images/btnAction.png');
	width: 132px;
	height: 32px;
	position: relative;
	top: 1px;
}

.btnPost {
	background: url('../images/btnBlue01.png');
	width: 92px;
	height: 37px;
}

.btnPost:active {
	background: url('../images/btnBlue01.png');
	width: 92px;
	height: 37px;
	position: relative;
	top: 1px;
}

.btnCancel {
	background: url('../images/btnBlue02.png');
	width: 92px;
	height: 37px;
}

.btnCancel:active {
	background: url('../images/btnBlue02.png ');
	width: 92px;
	height: 37px;
	position: relative;
	top: 1px;
}

.btnMyNews {
	display: block;
	background: url('../images/btnMyNews.png');
	width: 100px;
	height: 32px;
}

.btnMyNews:active {
	background: url('../images/btnMyNews.png ');
	width: 100px;
	height: 32px;
	position: relative;
	top: 1px;
}
.btnBookmark {
	display: block;
	background: url('../images/btnBookmark.png');
	width: 100px;
	height: 32px;
}

.btnBookmark:active {
	background: url('../images/btnBookmark.png ');
	width: 100px;
	height: 32px;
	position: relative;
	top: 1px;
}
.btnRecent {
	display: block;
	background: url('../images/btnRecent.png');
	width: 100px;
	height: 32px;
}

.btnRecent:active {
	background: url('../images/btnRecent.png ');
	width: 100px;
	height: 32px;
	position: relative;
	top: 1px;
}
.btnNewContent {
	display: block;
	background: url('../images/btnNewContent.png');
	width: 100px;
	height: 32px;
}

.btnNewContent:active {
	background: url('../images/btnNewContent.png ');
	width: 100px;
	height: 32px;
	position: relative;
	top: 1px;
}

.btnTest {
	display: block;
	outline: none;
	cursor: pointer;
	/* width: 132px;
	height: 32px; */
	/* text-align: center; */
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2); 
}
.btnTest:hover {
	text-decoration: none;
}
.btnTest:active {
	position: relative;
	top: 1px;
}

.btnOrange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
}
.btnOrange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
}
.btnOrange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	
}

.btnLeftArrow {
	background: url('../images/btnLeftArrow.png');
	width: 21px;
	height: 26px;
}

.btnLeftArrow:active {
	background: url('../images/btnLeftArrow.png ');
	width: 21px;
	height: 26px;
	position: relative;
	left: 1px;
}
.btnRightArrow {
	background: url('../images/btnRightArrow.png');
	width: 21px;
	height: 26px;
}

.btnRightArrow:active {
	background: url('../images/btnRightArrow.png ');
	width: 21px;
	height: 26px;
	position: relative;
	left: 1px;
}


/* 플랫폼 테스트 */
.win .tester {
	background: #ff5c36;
}

.mac .tester {
	background: #357bff;
}

/* 브라우저 테스트 */
.ie .tester {
	background: #f28a2f;
}

.gecko .tester {
	background: #68a5dd;
}

.safari .tester {
	background: #5f75a2;
}

.chrome .tester {
	background: #ff6600;
}

.opera .tester {
	background: #449500;
}

/* Text Custom */
.TitleTest {
	color: #000000;
	text-shadow: 2px 2px 2px #333333;
}

/* BG Images */
.myPageBG {
	background: url('../images/myPageBG.png');
	background-repeat: no-repeat;
}

.customBG {
	background: url('../images/BG02.png');
	background-repeat: no-repeat;
}

.tabBG {
	background: url('../images/tabBG.png');
	/* background-repeat: no-repeat; */
	opacity:0.4;
	height: 64px;
}

/* Text Field Cusstom */
.textBox_GD {
	width: 221px;
	background: transparent url('../images/textBox_bg1.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}

.textBox_Act1{	
	border: 1px solid #999999;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 11px #000000;
	-webkit-box-shadow: 0px 0px 11px #000000;
	box-shadow: 0px 0px 11px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

